/* You can add global styles to this file, and also import other style files */
@use 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@use 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default' as owl-theme;

@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";

@import "ngx-spinner/assets/animations/ball-scale-multiple.css";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite/**/*.ts";


.btn-main{
  @apply bg-green-600 text-white
        rounded-xl border hover:bg-white
        hover:text-green-600 hover:border-green-600
        hover:font-bold
        px-4 py-2
        cursor-pointer
}

.btn-disabled{
  @apply
        rounded-xl border
        px-4 py-2
        bg-gray-400
        text-gray-200
        cursor-not-allowed
}
